@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-weight: normal; }

* { box-sizing: border-box; outline: none; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

html { font-size: 10px; }

body { background-color: #dfe4ea; font-family: 'Open Sans', sans-serif; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.fa-window-close { font-size: 2rem; opacity: .3; cursor: pointer; transition: all .4s; }

.fa-window-close:hover { opacity: .6; }

button, i, a { transition: all .4s; }

.board { padding: 2rem; text-align: center; }

.board h1 { font-size: 3rem; font-weight: 700; margin-bottom: 2rem; color: #57606f; text-align: center; }

.board .create-column { font-size: 1.6rem; background-color: #2f80ed; color: #fff; border: 1px solid #3867d6; padding: 1.5rem 2rem; border-radius: 5px; margin-bottom: 3rem; }

.board .create-column:hover { background-color: #3867d6; }

.board .column-container { display: -ms-flexbox; display: flex; border: 1px solid #778ca3; }

.board .column-container .column { border-right: 1px solid #778ca3; min-width: 32rem; background-color: #ffffff; }

.board .column-container .column:last-of-type { border: 0; }

.board .column-container .wrapper { display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; padding: 1rem 0; border-bottom: 1px solid #778ca3; background-color: #f1f2f6; }

.board .column-container .wrapper .fa-window-close { grid-row: 1/2; justify-self: end; margin-right: 1rem; }

.board .column-container .wrapper .column-title { font-size: 2.6rem; text-align: center; padding: 3rem 0; color: #2f3542; }

.board .column-container .wrapper .add-card { font-size: 1.4rem; color: #2ed573; justify-self: end; margin-right: 1rem; }

.board .column-container .wrapper .add-card:hover { color: #20bf6b; }

.board .column-container .column-card-list { padding: 3rem 2rem; list-style: none; }

.board .column-container .card { background: linear-gradient(to right, #56ccf2, #2f80ed); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin-bottom: 1rem; cursor: -webkit-grab; cursor: grab; padding: 1rem; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.board .column-container .card p { font-size: 1.8rem; font-weight: 300; color: #fff; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); }

.board .column-container .card i { justify-self: flex-end; }
